.form {
    width: 80%;
    margin: auto;
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
}

.form__currency {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__amount {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: rgb(227, 151, 0);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.form__button:hover {
    background-color: rgb(209, 140, 0);
}

.form__button:active {
    background-color: rgb(195, 130, 0);
}

.form__labelText--result {
    margin-top: 15px;
}

.form__fieldset {
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    margin: 30px 0;
    background-color: rgb(234, 234, 234);
}

.form__legend {
    background-color: rgb(227, 151, 0);
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}