html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url(money-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Merriweather', serif;
}